
/* 些 小孝  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

    scroll-behavior: smooth;
}

body {
    background-color: #03051B;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
/* 些 小孝  */





/*  啸  */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 122px;

    z-index: 1000;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flow {
    max-width: 1328px;
    width: 100%;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    max-width: 1107px;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
}

.wrapper a {
    color: #FFFFFF;
}




.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_box {
    max-width: 199px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    cursor: pointer;
}
.logo_box span {
    font-weight: 800;
    font-size: 20px;
}


nav {
    width: 641px;
}
.header_nav {
    max-width: 625px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.header_nav li a {
    font-weight: 600;
    transition: 0.3s;
}
.header_nav li a:hover {
    color: #1B6DE9;
}


.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    background-color: transparent;
    color: white;
    font-weight: 600;
    max-width: 160px;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}
.dropbtn_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    background-color: transparent;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-bottom: 0.5px solid #ffffffb6;
    cursor: pointer;
    font-size: 16px;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    background-color: #03051B;
    max-width: 160px;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    z-index: 5;
    border: 1px solid #ffffff5d;
}
.dropdown-content a {
  color: white;
  font-weight: 400;
  padding: 12px 20px;
  display: block;
  border-bottom: 0.5px solid #ffffffb6;
}
.dropdown-content a:hover {
  background-color: #1a204d;
}
.dropdown-content a:last-child {
    border-bottom: none;
}
.show {
  display: block;
}





    .burger {
      position: fixed;
      top: 20px;
      right: 20px;
      width: 30px;
      height: 20px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 1001;
    }
    .burger span {
      display: block;
      height: 3px;
      background: white;
      border-radius: 2px;
      transition: 0.3s;
    }

    .menu {
      position: fixed;
      top: 0;
      right: -100%;
      width: 70%;
      height: 100%;
      background: rgba(20, 20, 50, 0.6);
      backdrop-filter: blur(15px);
      padding: 60px 20px;
      transition: 0.4s;
      z-index: 1000;
    }


    .menu.active {
      right: 0;
    }
    .menu ul li {
      margin: 20px 0;
    }
    .menu ul li a {
      color: white;
      text-decoration: none;
      font-size: 20px;
    }


.dropdown2 {
    position: relative;
    display: inline-block;
}
.dropbtn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    background-color: transparent;
    color: white;
    font-weight: 600;
    max-width: 160px;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}
.dropbtn_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    background-color: transparent;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-bottom: 0.5px solid #ffffffb6;
    cursor: pointer;
    font-size: 16px;
}
.dropdown-content2 {
    display: none;
    position: absolute;
    top: 0;
    background-color: #03051B;
    max-width: 160px;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    z-index: 5;
    border: 1px solid #ffffff5d;
}
.dropdown-content2 a {
  color: white;
  font-weight: 400;
  padding: 12px 20px;
  display: block;
  border-bottom: 0.5px solid #ffffffb6;
}
.dropdown-content2 a:hover {
  background-color: #1a204d;
}
.dropdown-content2 a:last-child {
    border-bottom: none;
}
.show2 {
  display: block;
}

/*  啸  */





/*   */
.banner_of_roadmap {
    margin-top: 122px;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_of_roadmap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}
/*   */